@import '../../fonts/iconfont/style.css';

.magenable-extensions .admin__page-nav-title.title._collapsible {
    display: flex;
    align-items: center;
}

.magenable-extensions .admin__page-nav-title.title._collapsible::before {
    display: block;
    content: '\e900';
    font-family: 'magenable';
    margin-right: 10px;
    font-size: 18px;
    color: #de774cff;
}

